h1{
    color: red;
}

#heading-2{
    color: blue;
}

.heading {
    color: purple;
}

.para{
    border: 2px;
    border-color: yellow;
    border-style:solid;
    padding:20px;
    text-align: center;
}

.navbar{
    border:3px;
    border-style: solid;
    border-color:pink;
    padding:15px;
    background-color: greenyellow;
    text-align: center;
}

.navbar a{
    color:blueviolet;
    padding:15px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(179, 97, 97);
    color:aquamarine;
}

body{
    margin:0;
}
